<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.Access_tjyuploadMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Access_tjyupload">
        <id column="access_tjyId" property="access_tjyId" />
        <result column="accessurl" property="accessurl" />
        <result column="fairworkerId" property="fairworkerId" />
        <result column="accessname" property="accessname" />
        <result column="anjianId" property="anjianId" />
    </resultMap>

</mapper>
