<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.AuthreginfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Authreginfo">
        <id column="authregId" property="authregId" />
        <result column="registerId" property="registerId" />
        <result column="sfid" property="sfid" />
        <result column="isDw" property="isDw" />
        <result column="dwId" property="dwId" />
        <result column="dbId" property="dbId" />
    </resultMap>

    <insert id="insertinfo" parameterType="com.xzx.model.Authreginfo">
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="authregId">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into authreginfo(registerId, sfid, isDw, dwId, dbId)
        values (#{registerId}, #{sfid}, #{isDw}, #{dwId}, #{dbId})
    </insert>

</mapper>
