<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.ConsulttypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Consulttype">
        <id column="ConsultTypeId" property="ConsultTypeId" />
        <result column="TypeName" property="TypeName" />
        <result column="ConsultRegionId" property="ConsultRegionId" />
        <result column="State" property="State" />
        <result column="Createdate" property="Createdate" />
    </resultMap>

	<select id="getConsulttypeList" resultType="com.xzx.model.Consulttype">
		select * from consulttype 
		where State=0
		<if test="regionId!=-1"> 
		 and ConsultRegionId=#{regionId}
		</if>
		 order by Createdate desc
	</select>
</mapper>
