<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.DictionariesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Dictionaries">
        <id column="DictionariesId" property="DictionariesId" />
        <result column="DictionariesTypeId" property="DictionariesTypeId" />
        <result column="DictionariesName" property="DictionariesName" />
    </resultMap>

</mapper>
