<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.PopilarizingnewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Popilarizingnews">
        <id column="PopularizingNewsId" property="PopularizingNewsId" />
        <result column="Title" property="Title" />
        <result column="NewsTypeId" property="NewsTypeId" />
        <result column="Cover" property="Cover" />
        <result column="Infomation" property="Infomation" />
        <result column="Context" property="Context" />
        <result column="IsRos" property="IsRos" />
        <result column="CreateDate" property="CreateDate" />
    </resultMap>

	<select id="getPopNews" resultType="com.xzx.model.Popilarizingnews">
		select * from popilarizingnews where IsRos=0 
		<if test="title!= null and title!= ''">
		 and Title like concat('%',#{title},'%')
		</if>
		order by CreateDate desc
	</select>
</mapper>
