<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.PopliarizingvideoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Popliarizingvideo">
        <id column="PopliarizingVideoId" property="PopliarizingVideoId" />
        <result column="Title" property="Title" />
        <result column="Cover" property="Cover" />
        <result column="NewsTypeId" property="NewsTypeId" />
        <result column="Video" property="Video" />
        <result column="IsRos" property="IsRos" />
        <result column="CreateDate" property="CreateDate" />
    </resultMap>
    
	<select id="getNewsByParam" resultType="com.xzx.model.Popliarizingvideo">
		SELECT * FROM popliarizingvideo 
		where IsRos=0
		<if test="newsType!=-3">
		 and NewsTypeId=#{newsType}
		</if>
		<if test="title!= null and title!= ''">
		 and Title like concat('%',#{title},'%')
		</if>
		order by CreateDate desc
	</select>
</mapper>
