<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.UseplaceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Useplace">
        <id column="UsePlaceId" property="UsePlaceId" />
        <result column="Title" property="Title" />
        <result column="State" property="State" />
        <result column="CreateDate" property="CreateDate" />
    </resultMap>

</mapper>
