<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzx.dao.ZzlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xzx.model.Zzlog">
        <id column="zzlogId" property="zzlogId" />
        <result column="fairworkerId" property="fairworkerId" />
        <result column="reciveuserId" property="reciveuserId" />
        <result column="anjianId" property="anjianId" />
        <result column="tjy_accessId" property="tjy_accessId" />
        <result column="zjstate" property="zjstate" />
        <result column="zzsj" property="zzsj" />
        <result column="reason" property="reason" />
        <result column="posttime" property="posttime" />
    </resultMap>

	<insert id="addZzlog" parameterType="String">
		insert into zzlog (fairworkerId,reciveuserId,anjianId,tjy_accessId,zjstate,zzsj,reason,posttime)
		select fairworkerid,bfuserId,anjianId,tjyaccessId,state,zzsj,reason,now() 
		from zzlsb where FIND_IN_SET(zzlsbid,#{zzlsbIds})
	</insert>
</mapper>
